<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <player>
    <maxJump value="9"/>
    <jumpDistance value="80u"/>
    <timeOnAir value="3u"/>
    <currentTimeAir value="0u"/>
    
    
    <jumpSpeed value="0u"/>
    <max_jumpSpeed value="10u"/>
    <fallSpeed value="0u"/>
    <max_FallSpeed value="10u"/>
    <gravityForce value="2u"/>
    <max_gravityForce value="8u"/>
    <runSpeed value="2"/>

  </player>
  
  
  
  <audio>
    <volume value="50"/>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <folder>animations</folder>
  </player>

</config>