<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <player>
    <jumpDistance value="80"/>
    <timeOnAir value="3"/>
    
    <max_jumpSpeed value="10"/>
    <max_FallSpeed value="10"/>
    <gravityForce value="2"/>
    <max_gravityForce value="8"/>
    <runSpeed value="2"/>

    <playerheight_dir_down value="40"/>
    <colliderheight_dir_down value ="32"/>

    <pivot_x_flip value="4"/>

  </player>
  
  
  
  <audio>
    <volume value="50"/>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <folder>animations</folder>
  </player>

</config>